---
layout: layouts/home.njk
menu:
  visible: true
  title: Home
  order: 0
---

{% set talksList = search.pages("type=talks", "date=desc", 6) %}

<h2 id="recent">Recently Added</h2>
<p>Last Updated: June 28, 2022</p>

{% include "templates/talkslist.njk" %}

<hr>

<p>More talks can be found in <a href="/talks/">the archive</a>.</p>
