---
layout: layouts/base.njk
bodyClass: body-tag
---
<h1>Tagged “{{ tag }}”</h1>

{% set talksList = search.pages("'" + tag + "'") %}
{% include "templates/talkslist.njk" %}

<hr>

<p>See <a href="/tags/">all tags</a>.</p>
